body {
  background-color: #3692D0;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 2;
  padding: 10px;
  display: block;
}

img {
  margin: auto;
  display: block;
  padding: 20px;
}

h1 {
  color: #A0C9FD;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

a {
  color: #A0C9FD;
  text-decoration: none;
}

p {
  text-align: center;
  color: #F0F9FF;
  font-size:
}

#travel {
  font-size: 25px;
}

#disneyland {
  font-size: 25px;
}

#dogs {
  font-size: 25px;
}

#yum {
  font-size: 25px;
}

map {
  display: inline;
}
